/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.alert {
  position: absolute;
  top: 3%;
  width: 50%;
  left: 27%;
  padding: 0 2%;
  color: #fff;
  border-radius: 2px;

  .material-icons {
    margin-top: 30%;
    color: white;
  }
}

.alert-error {
  background: #fd8282;
}

.alert-notice {
  background: #82d497;
}