// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  .page, .current {
    font-size: 20px;
    margin: 4px;
  }
  .current {
    color: #f5989c;
    // text-decoration: underline;
  }
  .first, .prev, .next, .last {
    font-size: 18px;
    vertical-align: middle;
  }
}